body {
    font-family:Roboto;
    background-color: #F89F08;
    color:#3923C9;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Grenze Gotisch";
    text-align:center;
}
h1 {
    font-size:40px;
}

header {
    text-align:center;
}

#hero, footer {
    color: #700553;
    border: 2px solid #000B29;
    background-color:#AD8282;
    text-align:center;
    padding:10px;
}

#hero img {
    width:300px;
}

#bio {
    text-align:center;
}

#hobbies ul li:nth-child(even) {
    color:#000;
}